.contentPage {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  width: 90%;
  gap: 1em;

  .contentInfo {
	text-align: center;

	h1 {
	  font-size: x-large;
	}

	h3 {
	  letter-spacing: 1px;
	  color: var(--shade-4);
	}
  }

  .contentCards {
	display: flex;
	flex-flow: column nowrap;
	gap: 2em;

	.cards {
	  display: flex;
	  align-items: center;
	  flex-flow: column nowrap;
	  justify-content: center;
	  width: 100%;
	  height: 100%;
	  gap: 2em;
	}

	.actionBar {
	  text-align: center;

	  a {
		display: flex;
		align-items: center;
		justify-content: center;
	  }

	  h3 {
		margin-bottom: 1em;
		letter-spacing: 2px;
		color: var(--shade-4);
	  }

	  h3, .tabs {
		display: none;
	  }
	}
  }
}

@media screen and (min-width: 768px) {
  .contentPage {
	width: 70%;
	height: 80%;
	gap: 3em;

	.contentInfo {
	  h1 {
		font-size: xxx-large;
	  }

	  h3 {
		letter-spacing: 2px;
	  }
	}

	.contentCards {
	  gap: 4em;


	  .cards {
		align-items: stretch;
		flex-flow: row nowrap;
	  }

	  .actionBar {

		h3 {
		  display: block;
		}

		.tabs {
		  display: flex;
		  align-items: center;
		  flex-flow: row wrap;
		  justify-content: center;
		  width: 100%;
		  height: 100%;
		  gap: 1em;
		}
	  }
	}
  }
}
