.cta {
  font-size: medium;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0.5em 2em;
  cursor: pointer;
  transition: var(--transition-250-eio);
  border: none;
  outline: none;
  background-color: transparent;
  gap: 0.5em;

  &:hover {
	background-color: var(--dark);
  }

  &.sm {
	border-radius: 0.125em;
  }

  &.md {
	border-radius: 0.25em;
  }

  &.full {
	border-radius: 500em;
  }

  &.icon {
	padding: 1em;
	transition: var(--transition-250-eio);
	color: var(--primary);
	border-radius: 50%;
  }

  &.primary {
	color: var(--dark);
	border: 1px solid var(--primary);
	background-color: var(--primary);

	&:hover {
	  color: var(--primary);
	  border-color: var(--primary);
	  background-color: transparent;
	}
  }

  &.secondary {
	color: var(--white);
	background-color: var(--dark);

	&:hover {
	  background-color: var(--background);
	}
  }
}

@media screen and (width < 768px) {
  .cta {
	font-size: small;
  }
}
