.nav {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 0 5%;
  background-color: var(--dark);

  .links {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 100%;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	list-style: none;
	transition: var(--transition-250-eio);
	background-color: var(--dark);
	
	gap: 2em;

	li button {
	  font-size: larger;
	}

	&.active {
	  left: 0;
	}
  }

  .menuButton, .logo {
	z-index: 30;
  }
  
  .actions {
	z-index: 30;
	display: flex;
	align-items: center;
	gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .nav {
	padding: 1em clamp(5%, 15%, 20%);

	.links {
	  position: relative;
	  z-index: 10;
	  top: auto;
	  left: auto;
	  flex-flow: row nowrap;
	  width: fit-content;
	  background-color: transparent;
	  gap: 0;

	  li button {
		font-size: medium;
	  }

	  &.active {
		left: auto;
	  }
	  
	  .themeToggle {
		display: flex;
		margin-left: 1rem;
	  }
	}

	.menuButton {
	  display: none;
	}
  }
}
