.contentPage {
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  padding: 0 15% 10%;
  gap: 1em;

  .header {
	.subtitle {
	  font-size: 1em;
	  font-weight: 200;
	  letter-spacing: 0.25em;
	  text-transform: capitalize;
	}

	.title {
	  font-size: x-large;
	  font-weight: 600;
	}
  }

  .content {
	width: clamp(200px, 100%, 400px);

	.title {
	  font-size: large;
	  font-weight: 200;
	  margin-bottom: 0.5em;
	  letter-spacing: 1px;
	  text-transform: capitalize;
	  color: var(--primary);
	}

  }

  .actionBar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 1em 0;
  }
}

.portrait {
  position: absolute;
  z-index: -1;
  right: 5%;
  bottom: 10%;
  width: 500px;
  height: 500px;
  filter: grayscale(100);
}

@media screen and (min-width: 1130px) {
  .contentPage {
	padding: 0 15%;

	.header {
	  .subtitle {
		font-size: large;
	  }

	  .title {
		font-size: xxx-large;
	  }
	}

	.content {

	  .title {
		font-size: x-large;
	  }
	}
  }

  .portrait {
	right: 10%;
	bottom: 10%;
	width: 600px;
	height: 600px;
	filter: grayscale(0);
  }
}
