.navLink {
  font-size: medium;
  font-weight: 500;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: var(--transition-250-eio);
  color: var(--white);
  border: none;
  outline: none;
  background-color: transparent;
  gap: 0.5em;
  
  .light-theme & {
	color: white;
  }

  &:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	transition: var(--transition-250-eio);
	transform: translateY(-50%) scaleX(0);
	opacity: 0;
	background-color: var(--primary);
  }

  &.active {
	color: var(--primary);
	
	.light-theme & {
	  font-weight: 700;
	  color: white;
	}

	&:before {
	  transform: translateY(-50%) scaleX(1);
	  opacity: 1;
	  
	  .light-theme & {
		background-color: white;
	  }
	}
  }

  &:hover {
	color: var(--primary);
	
	.light-theme & {
	  opacity: 0.9;
	  color: white;
	}
  }
}
