$themes: 9;

@mixin themeMixin {
  @for $i from 1 through $themes {
	&.accent-#{$i} {
	  .titleBar {
		h1 {
		  color: var(--accent-#{$i});
		}
	  }

	  &:before {
		background-color: var(--accent-#{$i});
	  }
	}
  }
}

.largeCard {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
  width: clamp(200px, 100%, 360px);
  //max-height: 10px;
  user-select: none;
  transition: var(--transition-250-eio);
  transform-origin: top center;
  border-radius: 0.5em;
  background-color: var(--dark);
  box-shadow: var(--box-shadow-dark-0-2-12-10);
  gap: 1em;

  &.show {
	//height: 100%;
  }

  @include themeMixin;

  .titleBar {
	display: grid;
	padding: 1em 1em 0;
	grid-template-columns: 52px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1em;

	h1 {
	  font-size: xx-large;
	  word-wrap: break-word;
	}

	.logo {
	  display: grid;
	  width: 52px;
	  height: 52px;
	  border-radius: 50%;
	  background-color: var(--background);
	  place-items: center;

	  img {
		width: 36px;
		height: 36px;
		object-fit: contain;
	  }
	}
  }

  p {
	font-size: large;
	padding: 0 1em calc(1em + 10px);
  }

  &:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	content: '';
	background-color: white;
  }

  &:hover {
	transform: scale(1.05);
  }
}
