.contentPage {
  display: grid;
  width: 100%;
  height: 90%;
  padding: 0 10%;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 3em;

  .contentInfo {
	display: grid;
	place-items: center;

	ul {
	  display: flex;
	  flex-flow: column;
	  gap: 1em;

	  .line {
		display: grid;
		place-items: center flex-start;
		grid-gap: 1em;
		grid-template-columns: 64px 1fr;

		.icon {
		  display: grid;
		  overflow: hidden;
		  width: 48px;
		  height: 48px;
		  border-radius: 50%;
		  background-color: var(--dark);
		  place-items: center;

		  img {
			width: 24px;
			height: 24px;
		  }
		}

		.text {
		  font-size: small;
		  cursor: pointer;

		  &:hover {
			text-decoration: underline;
		  }
		}
	  }
	}
  }

  .contentForm {
	width: 100%;
	height: 100%;

	form {
	  display: flex;
	  align-items: center;
	  flex-flow: column nowrap;
	  justify-content: center;
	  width: 80%;
	  height: 100%;
	  margin: auto;
	  text-align: center;
	  gap: 1em;

	  h1 {
		font-size: x-large;
		font-weight: 800;
		margin-bottom: 0.25em;
	  }

	  .formGroup {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	  }

	  input, textarea {
		width: 100%;
		padding: .75rem 1.25rem;
		color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 50rem;
		outline: none;
		background-color: transparent;
		transition: border-color 0.2s ease;

		&:focus {
		  border-color: var(--accent-5);
		  outline: 2px solid var(--accent-5);
		  outline-offset: 2px;
		}

		&:focus-visible {
		  border-color: var(--accent-5);
		  outline: 2px solid var(--accent-5);
		  outline-offset: 2px;
		}

		&[aria-invalid='true'] {
		  border-color: #ff4444;
		}

		&[aria-invalid='true']:focus {
		  border-color: #ff4444;
		  outline-color: #ff4444;
		}
	  }

	  .errorMessage {
		color: #ff4444;
		font-size: 0.875rem;
		margin-top: -0.25em;
		padding-left: 1.25rem;
		text-align: left;
	  }

	  textarea {
		flex: 1 1 auto;
		min-height: 10em;
		border-radius: 1.5em;
	  }

	  .actionBar {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-top: 1em;
	  }
	}
  }


}

@media screen and (width > 768px) {
  .contentPage {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

	.contentInfo {
	  ul {
		gap: 2em;

		.line {
		  .icon {
			width: 52px;
			height: 52px;

			img {
			  width: 24px;
			  height: 24px;
			}
		  }

		  .text {
			font-size: larger;
		  }
		}
	  }
	}

	.contentForm {
	  form {
		gap: 2em;

		h1 {
		  font-size: xxx-large;
		  font-weight: 900;
		  margin-bottom: 0.25em;
		}

		textarea {
		  min-height: 20em;
		}
	  }
	}
  }
}
