.page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 5vh;

  * {
	transition: var(--transition-250-eio);
	transform: translateY(50px);
	opacity: 0;
  }

  &.loaded {
	* { transform: translateY(0);
	  opacity: 1;
	}
  }

  &.hero {
    background-size: cover;
  }
  
  &.services {
    background-size: cover;
  }
}

// Dark theme wave backgrounds
.dark-theme {
  .page {
    &.hero {
      background: url('../public/assets/svg/dark/waves/hero-wave.svg') no-repeat 100% 100%;
      background-size: cover;
    }
    
    &.services {
      background: url('../public/assets/svg/dark/waves/projects-wave.svg') no-repeat 100% 100%;
      background-size: cover;
    }
  }
}

// Light theme wave backgrounds
.light-theme {
  .page {
    &.hero {
      background: url('../public/assets/svg/light/waves/hero-wave.svg') no-repeat 100% 100%;
      background-size: cover;
    }
    
    &.services {
      background: url('../public/assets/svg/light/waves/projects-wave.svg') no-repeat 100% 100%;
      background-size: cover;
    }
  }
}
